@import url(css/components.css);
@import url(css/cards.css);
@import url(css/medias.css);

body {
  background-color: #f7f9f9;
  font-family: Roboto, sans-serif;
  color: rgb(80, 80, 80);
  font-size: 18px;
  font-weight: 400px;
  line-height: 1.5;
}

h1,h2,h3 {
  color: #601700;
  font-family: Arial, sans-serif;
  font-size: 25px;
  line-height: 1.0;
}

a {
  color: #f7f9f9;
  background-color: #601700;
  border: 8px solid #601700;
}

li {
  display: inline-block;
  padding-inline: 8px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a:hover {
  color: #601700;
  background-color: #f7f9f9;
  border: 12px solid #f7f9f9;
  transition: 1s;
}

.container{
  background-color: #f7f9f9;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
